@{
    Layout = null;
}

<script src="https://cdn.tailwindcss.com"></script>

<div class="m-10">Hello</div>
<div class="flex mx-16 my-10">
    <div class="flex-1 border-[1px] border-black rounded-l-lg">
        <div class="m-6">
            <div class="text-2xl">Welcome !</div>
            <div class="mt-6">
                <div class="text-3xl font-bold">Sign in to</div>
                <div class="">Đăng nhập để trải nghiệm dịch vụ của chúng tôi</div>
            </div>
            <form class="mt-8">
                <label class="block">UserName</label>
                <input class="mt-2 outline-none py-3 px-6 border-2 border-[#282828] rounded-lg block w-full" type="text" placeholder="Enter your user name">
                <label class="mt-6 block">Password</label>
                <input class="mt-2 outline-none py-3 px-6 border-2 border-[#282828] rounded-lg block w-full" type="password" placeholder="Enter your password">
                <div class="my-4 mx-2 flex items-center justify-between">
                    <div class="flex items-center">
                        <input type="checkbox" class="outline-none border-2 border-black p-4">
                        <div class="ml-2">Remember me</div>
                    </div>
                    <a href="" class="">Forgot password?</a>
                </div>
                <button class="my-8 block w-full p-4 rounded-lg text-white bg-black">Login</button>
            </form>
            <div class="text-center my-8">
                Don't have an Account? <a href="" class="font-bold">Register</a>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <img class="rounded-r-lg" src="~/images/login/OIG1.scaIHwiWer.jpg" alt="">
    </div>
</div>