@{
    Layout = null;
}

<script src="https://cdn.tailwindcss.com"></script>

<div class="m-10">Hello</div>
<div class="flex mx-16 my-10">
    <div class="flex-1 border-[1px] border-black rounded-l-lg">
        <div class="m-6">
            <div class="text-2xl">Welcome !</div>
            <div class="mt-6">
                <div class="text-3xl font-bold">Sign up to</div>
                <div class="">Đăng ký để trải nghiệm dịch vụ của chúng tôi</div>
            </div>
            <form class="mt-8">
                <label class="block">Email</label>
                <input class="mt-2 outline-none py-3 px-6 border-2 border-[#282828] rounded-lg block w-full" type="text" placeholder="Enter your email">
                <label class="mt-3 block">Username</label>
                <input class="mt-2 outline-none py-3 px-6 border-2 border-[#282828] rounded-lg block w-full" type="text" placeholder="Enter your username">
                <label class="mt-3 block">Password</label>
                <input class="mt-2 outline-none py-3 px-6 border-2 border-[#282828] rounded-lg block w-full" type="password" placeholder="Enter your password">
                <label class="mt-3 block">Confirm Password</label>
                <input class="mt-2 outline-none py-3 px-6 border-2 border-[#282828] rounded-lg block w-full" type="password" placeholder="Confirm your password">
                <button class="my-8 block w-full p-4 rounded-lg text-white bg-black">Register</button>
            </form>
            <div class="text-center my-8">
                Already have an account? <a href="" class="font-bold">Login</a>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <img class="rounded-r-lg h-full" src="~/images/login/OIG1.wlta.jpg" alt="">
    </div>
</div>