@model Khoa

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fixed top-0 ml-[174px] mt-[140px] w-full">
    <div class="">
        <h1>Thông tin khoa</h1>
        <p>
            <strong>Tên khoa:</strong> @Model.TenKhoa
        </p>
        <p>
            <strong>Ngày thành lập:</strong> @Model.NgayThanhLap.ToString("dd/MM/yyyy")
        </p>
        <p>
            <strong>Trường id:</strong> @Model.TruongId
        </p>
    </div>
    <a asp-controller="QuanLyKhoa" asp-action="Index" class="block w-[8%] text-nowrap mt-2 py-3 px-10 outline-none bg-[#fcbf49] rounded-lg text-white shadow font-bold">Trở lại</a>

</div>