@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-outline {
        color: #3a86ff;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
</style>

<div class="ml-[230px] mt-[170px] grid grid-cols-2">
    <div class="my-auto">
        <div class="font-bold text-5xl text-[#3a86ff] text-outline">Chào mừng bạn đã quay trở lại trang quản lý sinh viên!!!</div>
        <div class="font-bold mt-4 text-2xl">Họ và tên: Trần Đức Quang</div>
        <div class="font-bold mt-4 text-2xl">Lớp sinh hoạt: 21T3</div>
        <div class="font-bold mt-4 text-2xl">Lớp học phần: 223LTC01</div>
        <div class="font-bold mt-4 text-2xl">Mã sinh viên: 21115053120343</div>
    </div>
    <div class="h-full">
        <img class="rounded-xl w-[500px] m-auto" src="~/images/home/OIG4.swa4SeE3ljgQ9K-removebg-preview.png" alt="">
    </div>
</div>