@{
    Layout = null;
}

<div class="fixed top-0 left-0 w-36 h-full border-r-2 border-r-[#b8c0ff] shadow-sm">
    <div class="py-4 Logo flex justify-center">
        <a asp-controller="Home" asp-action="Index" class="cursor-pointer">
            <img class="w-14 rounded-full" src="~/images/logo.png" alt="">
        </a>
    </div>
    <div class="py-4 flex items-center gap-12 flex-column">
        <a asp-controller="QuanLySinhVien" asp-action="Index" class="cursor-pointer">
            <img class="w-14" src="~/images/icons/ph--student-duotone.png" alt="">
        </a>
        <a asp-controller="QuanLyGiaoVien" asp-action="Index" class="cursor-pointer">
            <img class="w-14" src="~/images/icons/fluent-emoji-high-contrast--man-teacher.png" alt="">
        </a>
        <a asp-controller="QuanLyLopSinhHoat" asp-action="Index" class="cursor-pointer">
            <img class="w-14" src="~/images/icons/ic--baseline-class.png" alt="">
        </a>
        <a asp-controller="QuanLyKhoa" asp-action="Index" class="cursor-pointer">
            <img class="w-14" src="~/images/icons/mingcute--department-fill.png" alt="">
        </a>
        <a asp-controller="QuanLyLopHocPhan" asp-action="Index" class="cursor-pointer">
            <img class="w-14" src="~/images/icons/ph--book-fill.png" alt="">
        </a>
    </div>
</div>