@model LopSinhHoat

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fixed top-0 ml-[174px] mt-[140px] w-full">
    <div class="">
        <h1>Thông tin lớp sinh hoạt</h1>
        <p>
            <strong>Tên lớp:</strong> @Model.TenLop
        </p>
        <p>
            <strong>Học kỳ:</strong> @Model.HocKy
        </p>
        <p>
            <strong>Giáo viên chủ nhiệm id:</strong> @Model.GiaoVienChuNhiemId
        </p>
        <p>
            <strong>Khoa id:</strong> @Model.KhoaId
        </p>
    </div>
    <a asp-controller="QuanLyLopSinhHoat" asp-action="Index" class="block w-[8%] text-nowrap mt-2 py-3 px-10 outline-none bg-[#fcbf49] rounded-lg text-white shadow font-bold">Trở lại</a>

</div>